<?xml version="1.0"?>

<robot name="dji_m100" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="robot_namespace" default=""/>
  <xacro:property name="namespace" value="$(arg robot_namespace)" />
  <xacro:arg name="complex_visualization_supported" default="true"/>
  <!-- Instantiate dji_m100 "mechanics" -->
  <xacro:include filename="$(find dji_m100_description)/urdf/dji_m100_base.xacro" />
  <xacro:include filename="$(find dji_m100_description)/urdf/gimbal.urdf.xacro" />
  <xacro:dji_m100_body />
  <xacro:dji_m100_gimbal />
</robot>