<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="hitl_model" default="true"/>
  <xacro:arg name="collision_enabled" default="false"/>

  <xacro:property name="M_PI" value="3.1415926535897931" />

 <!-- Base quadrotor link -->
  <xacro:macro name="dji_m100_base_macro">
    <link name="base_link">
      <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.11152" ixy="0.0" ixz="0.0" iyy="0.11152" iyz="0.0" izz="0.218" />
      </inertial>

      <visual name="body">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://dji_m100_description/meshes/dji_m100/dji_m100.dae"/>
        </geometry>
      </visual>
      <visual name="base_link::collision_sphere">
        <pose frame=''>0 0 0 0 0 0</pose>
        <geometry>
          <sphere radius="0.75"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://dji_m100_description/meshes/dji_m100/dji_m100.stl"/>
        </geometry>
      </collision>
      <gravity>1</gravity>
    </link>

    <!-- HITL model config -->
    <xacro:if value="$(arg hitl_model)">
      <!-- Add illustrative transparent sphere around the drone -->
      <gazebo reference="base_link">
        <visual name="base_link::collision_sphere">
          <material>
            <ambient>1 0 0 0.3</ambient>
            <diffuse>1 0 0 0.3</diffuse>
            <specular>1 0 0 0.3</specular>
            <emissive>0 0 0 0.3</emissive>
          </material>
        </visual>
      </gazebo>

      <!-- DJI Gazebo Controller Plugin -->
      <gazebo>
        <plugin name='dji_ros_gazebo_controller' filename='libdji_ros_gazebo_control.so'>
          <allow_contact_sensing>$(arg collision_enabled)</allow_contact_sensing> <!-- If you want to enable contact sensing make it true -->
        </plugin>
      </gazebo>
    </xacro:if>
    <xacro:unless value="$(arg hitl_model)">
      <gazebo reference="base_link">
      <visual name="base_link::collision_sphere">
          <material>
            <ambient>0 0 1 0.3</ambient>
            <diffuse>0 0 1 0.3</diffuse>
            <specular>0 0 1 0.3</specular>
            <emissive>0 0 0 0.3</emissive>
          </material>
        </visual>
      </gazebo>
    </xacro:unless>
    <!-- Contact sensor -->
    <gazebo reference="base_link">
      <sensor name="body_contact_sensor" type="contact">
        <always_on>true</always_on>
        <contact>
          <collision>base_link_collision</collision>
        </contact>
        <plugin name="dji_m100_bumper" filename="libgazebo_ros_bumper.so">
          <bumperTopicName>contact</bumperTopicName>
          <frameName>base_link</frameName>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>

