<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="hitl_model" default="true"/>
  <xacro:arg name="collision_enabled" default="false"/>

  <xacro:property name="M_PI" value="3.1415926535897931" />

 <!-- Base quadrotor link -->
  <xacro:macro name="dji_m100_base_macro">
    <link name="base_link">
      <inertial>
        <mass value="1024" />
        <origin xyz="0 0 0" />
        <inertia ixx="170.667" ixy="0.0" ixz="0.0" iyy="170.667" iyz="0.0" izz="170.667" />
      </inertial>

      <visual name="body">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://dji_m100_description/meshes/dji_m100/dji_m100.dae"/>
        </geometry>
      </visual>
      <visual name="base_link::collision_sphere">
        <pose frame=''>0 0 0 0 0 0</pose>
        <geometry>
          <sphere radius="0.75"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://dji_m100_description/meshes/dji_m100/dji_m100.stl"/>
        </geometry>
      </collision>
      <gravity>1</gravity>
    </link>
    
    <!-- HITL model config -->
    <xacro:if value="$(arg hitl_model)">
      <!-- Add illustrative transparent sphere around the drone -->
      <gazebo reference="base_link">
        <visual name="base_link::collision_sphere">
          <material>
            <ambient>1 0 0 0.3</ambient>
            <diffuse>1 0 0 0.3</diffuse>
            <specular>1 0 0 0.3</specular>
            <emissive>0 0 0 0.3</emissive>
          </material>
        </visual>
      </gazebo>

      <!-- DJI Gazebo Controller Plugin -->
      <gazebo>
        <plugin name='hitl_controller' filename='libdji_m100_controller_gazebo_hitl.so'>
          <allow_contact_sensing>$(arg collision_enabled)</allow_contact_sensing> <!-- If you want to enable contact sensing make it true -->
          <initial_height>1.0</initial_height>
        </plugin>
      </gazebo>
    </xacro:if>

    <xacro:unless value="$(arg hitl_model)">
      <gazebo reference="base_link">
        <visual name="base_link::collision_sphere">
          <material>
            <ambient>0 0 1 0.3</ambient>
            <diffuse>0 0 1 0.3</diffuse>
            <specular>0 0 1 0.3</specular>
            <emissive>0 0 0 0.3</emissive>
          </material>
        </visual>
      </gazebo>
      <gazebo>
        <plugin name="sitl_controller" filename="libgazebo_ros_control.so">
          <controlPeriod>0.01</controlPeriod>
          <robotSimType>dji_m100_controller_gazebo_sitl/DJIM100HardwareSim</robotSimType>
          <allow_contact_sensing>$(arg collision_enabled)</allow_contact_sensing>
        </plugin>
      </gazebo>
      <!-- Battery -->
    <gazebo reference="base_link">
      <battery name="linear_battery">
        <voltage>12.592</voltage>
      </battery>
    </gazebo>
    <gazebo>
      <!-- Battery voltage tracker -->
      <plugin name="battery" filename="libLinearBatteryPlugin.so">
        <link_name>base_link</link_name>
        <battery_name>linear_battery</battery_name>
        <open_circuit_voltage_constant_coef>12.694</open_circuit_voltage_constant_coef>
        <open_circuit_voltage_linear_coef>-6.7424</open_circuit_voltage_linear_coef>
        <initial_charge>1.1665</initial_charge>
        <capacity>1.2009</capacity>
        <resistance>0.061523</resistance>
        <smooth_current_tau>5.9499</smooth_current_tau>
      </plugin>
      <!-- Battery voltage consumer -->
      <plugin name="motherboard" filename="libLinearBatteryConsumerPlugin.so">
        <link_name>base_link</link_name>
        <battery_name>linear_battery</battery_name>
        <power_load>606.6</power_load>
      </plugin>
    </gazebo>
    </xacro:unless>
    <!-- Contact sensor -->
    <gazebo reference="base_link">
      <sensor name="body_contact_sensor" type="contact">
        <always_on>true</always_on>
        <contact>
          <collision>base_link_collision</collision>
        </contact>
        <plugin name="dji_m100_bumper" filename="libgazebo_ros_bumper.so">
          <bumperTopicName>contact</bumperTopicName>
          <frameName>base_link</frameName>
        </plugin>
      </sensor>
    </gazebo>

    <gazebo>
      <plugin name="ground_truth_plugin" filename="libgazebo_ros_p3d.so">
        <robotNamespace>/${namespace}</robotNamespace>
        <bodyName>base_link</bodyName>
        <topicName>odometry</topicName>
        <frameName>/world</frameName>
        <gaussianNoise>0</gaussianNoise>
        <updateRate>10</updateRate>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>

